
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

    <!-- Webpage Title -->
    <title>BACH -Complete Musical</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
	<link href="{% static 'css/styles.css' %}" rel="stylesheet">

	<!-- Favicon  -->
    <link rel="icon" href="{% static 'images/favicon.png' %}">
</head>
<body>
{% block content %}
    <!-- Navigation -->
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Main navigation">
        <div class="container">

            <!-- Image Logo -->
            <a class="navbar-brand logo-image" href="{% url 'home' %}"><b>B A C H</b></a>

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text" href="index.html">Elma</a> -->

            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#header">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown012" data-bs-toggle="dropdown" aria-expanded="false">INSTRUMENTS</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            {% for d in data %}
                            <li><a class="dropdown-item" href="{% url 'inst' itemcatg=d.instrument %}">{{d.instrument}}</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">BEST DEALS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'loginc' %}">REGISTER</a>
                    </li>

                    <li class="nav-item dropdown">
                        {% if request.session.name %}
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">{{request.session.name}}</a>
                        {% endif %}
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="{% url 'customerd' %}">LOG OUT</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="{% url 'loginc' %}">SWITCH ACCOUNT</a></li>
<!--                            <li><div class="dropdown-divider"></div></li>-->
<!--                            <li><a class="dropdown-item" href="privacy.html">Privacy Policy</a></li>-->
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">CONTACT</a>
                    </li>
                    <li class="nav-item">
                    </li>
                </ul>
                <span class="nav-item social-icons">
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                </span>
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->
    <!-- Header -->
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="h1-large">GOOD  MUSIC <br> FOR<br> GOOD MOMENTS</h1>
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="button-container">
                        <a class="btn-solid-lg page-scroll" href="#intro">Discover</a><br><br>
                        <a class="btn-outline-lg page-scroll" href="#services">Deals</a>
                    </div> <!-- end of button-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- Introduction -->
    <div id="" class="basic-1 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>B A C H.com </h1><BR>
                    <H2>WE DELIVER </H2>
                    <H2>THE BEST PROUCTS</H2>
                    <H2>IN THE BEST MANNER</H2>
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-container">
                        <p><strong>FREE DELIVERY</strong>  Delivery charges for Seller Fulfilled item vary by item as they are determined by each seller and are displayed on the product and checkout pages</p><BR>
                        <p><strong>ONLINE 24X7 </strong> Connect with an Customer Support Associate who can help you fix your issue at any time any where</p><BR>
                        <p><strong>MONEY BACK GURANTEE</strong> A-to-z Guarantee refund is available to you when there's a problem with any purchased physical goods or eligible services that was sold and fulfilled by a third-party seller on BACH.com</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of introduction -->
    <br>

    <div id="intro" >
       <center> <h2>SHOP BY CATEGORY</h2></center><br>
    <section class="ftco-section ftco-no-pb" >

			<div class="container">
				<div class="row">
                    {% for d in data %}
					<div class="col-lg-3 col-md-4 ">
                        <center>
                        <form method="post" action="{% url 'inst' itemcatg=d.instrument %}" enctype="multipart/form-data">
								{% csrf_token %}
                            <button class="btn-solid-lg page-scroll">{{d.instrument}}</button>
							</form><br>
                            </center>
					</div><br>
                    {% endfor %}
                </div>
            </div>

    </section>
    </div>
<br><br>

    <div id="projects" class="basic-3 bg-gray"  STYLE="padding-bottom: 5rem;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5">
                    <div class="text-container">
                        <h2>CASIO</h2>
                        <p>Casio Casiotone CT-S1 61-key Touch Sensitive Portable Keyboard - BLACK</p>
                        <h4>-10%         $15,296</h4>
                        <h6>PRICE: $16,995</h6>
                         <form action="{% url 'deal' %}">
                                <button class="btn-solid-reg" type="submit>">GRAB</button>
                            </form>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6 col-xl-7">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/keyboard.jpg' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>

    <div class="basic-3 bg-gray" STYLE="padding-top: 5rem;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-7">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/guitar.jpg' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6 col-xl-5">
                    <div class="text-container">
                        <h2>VAULT </h2>
                        <p>Acoustic Guitar With Gig-Bag, Picks, Strings Set, String Winder, Strap, Polishing Cloth And Allen Key</p>
                        <h4>-55% $4,465</h4>
                        <h6>PRICE: $10,000</h6>
                         <form action="{% url 'deal' %}">
                                <button class="btn-solid-reg" type="submit>">GRAB</button>
                            </form>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>

    <div id="services" class="counter">
        <div class="container">
             <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">TODAY'S  BEST DEALS</h2>
                    <p class="p-heading">Here you will get some killer hot deals and super saver offers for Guitars,Keyboards and much MORE...</p>
                </div> <!-- end of col -->
            </div> <!-- end of row --><br><br>
            <div class="row">
    			<div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
    				<div class="product">
    					<span>
                            <img src="{% static 'images/1.jpg' %}" height="240px" width="240px" border="20px">
                        </span>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<H2>NEWYOUTH</H2>
                            <span>
                                <p>Kazoo Silver Aluminum Alloy Flute Diaphragm Mouth Instrument Kazoos</p>
                            </span>
    						<H2>-62% $229</H2>
                            <form action="{% url 'deal' %}">
                                <button class="btn-solid-reg" type="submit>">GRAB</button>
                            </form>

    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
    				<div class="product">
    					<span>
                            <img src="{% static 'images/2.jpg' %}" height="240px" width="240px" border="20px">
                        </span>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h2>DEER</h2>
    						   <span>
                                <p>Blue Deer Kalimba, Mbira Thumb Piano Kalimba Musical Instrument</p>
                            </span>
    						<H2>-55% $1,507</H2>
                            <form action="{% url 'deal' %}">
                                <button class="btn-solid-reg" type="submit>">GRAB</button>
                            </form>

    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
    				<div class="product">
    					<span>
                            <img src="{% static 'images/3.jpg' %}" height="240px" width="240px" border="20px">
                        </span>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h2>HOVNER 215</h2>
                               <span>
                                <p>Black F-Cut Rosewood Fretboard Acoustic Guitar With Bag</p>
                            </span>
    						<H2>-38% $4,480</H2>
                            <form action="{% url 'deal' %}">
                                <button class="btn-solid-reg" type="submit>">GRAB</button>
                            </form>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
    				<div class="product">
    					<span>
                            <img src="{% static 'images/4.jpg' %}" height="240px" width="240px" border="20px">
                        </span>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h2>XOZ</h2>
                               <span>
                                <p>9 Stopper 42 Key 2 Reed 440 Tuned Total Wood Musical Instrument Harmonium</p>
                            </span>
    						<H2>-45% $8,200</H2>
                            <form action="{% url 'deal' %}">
                                <button class="btn-solid-reg" type="submit>">GRAB</button>
                            </form>
    						</div>
    					</div>
    				</div>
    			</div>



    						</div>
    </div>

    <!-- Testimonials -->
    <div class="slider-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card Slider -->
                    <div class="slider-container">
                        <div class="swiper-container card-slider">
                            <div class="swiper-wrapper">

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <img class="testimonial-image" src="{% static 'images/shakesphere.jpg' %}" alt="alternative">
                                    <p class="testimonial-text">“If music be the food of love, play on; Give me excess of it, that, surfeiting, The appetite may sicken, and so die.”</p>
                                    <div class="testimonial-author">William Shakespeare</div>
                                    <div class="testimonial-position">English playwright, poet and actor</div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <img class="testimonial-image" src="{% static 'images/jimih.jpg' %}" alt="alternative">
                                    <p class="testimonial-text">“Sometimes you want to give up the guitar, you'll hate the guitar. But if you stick with it, you're gonna be rewarded”</p>
                                    <div class="testimonial-author">Jimi Hendrix</div>
                                    <div class="testimonial-position">American guitarist</div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <img class="testimonial-image" src="{% static 'images/jackson.jpg' %}" alt="alternative">
                                    <p class="testimonial-text">“People ask me how I make music. I tell them I just step into it. It's like stepping into a river and joining the flow. Every moment in the river has its song”</p>
                                    <div class="testimonial-author">Michael Joseph Jackson</div>
                                    <div class="testimonial-position">American singer, songwriter, dancer, and philanthropist</div>
                                </div> <!-- end of swiper-slide -->
                                <!-- end of slide -->

                            </div> <!-- end of swiper-wrapper -->

                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->

                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of card slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
            </div>

    <!-- Team -->
    <div class="cards-2 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">OUR PARTNERS</h2>
                    <p class="p-heading">THE BEST MANUFACTURERS</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'images/prs.png' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Paul Reed Smith Guitars</h5>
                            <p class="card-text">American guitar and amplifier manufacturer</p>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin-in fa-stack-1x"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'images/fujigen.png' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">FujiGen Gakki</h5>
                            <p class="card-text"> Japanese musical instrument manufacturing company</p>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin-in fa-stack-1x"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'images/esp.png' %}" height="120px" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">ESP Company</h5>
                            <p class="card-text">Japanese guitar manufacturer of electric guitars and basses</p>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin-in fa-stack-1x"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'images/schecter.png' %}" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Schecter Guitar</h5>
                            <p class="card-text">American  Fender and Gibson manufacturer</p>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin-in fa-stack-1x"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of team -->

{% endblock %}

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-col first">
                        <h6>About BACH</h6>
                        <p class="p-small">BACH.om is a muscical instrument online store which is part of the BACH.PVT.LTD </p>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col second">
                        <h6>Links</h6>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li>Important: <a href="#">Terms & Conditions</a>, <a href="privacy.html">Privacy Policy</a></li>
<!--                            <li>Useful: <a href="#">Colorpicker</a>, <a href="#">Icon Library</a>, <a href="#">Illustrations</a></li>-->
<!--                            <li>Menu: <a class="page-scroll" href="#header">Home</a>, <a class="page-scroll" href="#projects">Projects</a>, <a class="page-scroll" href="#services">Services</a>, <a class="page-scroll" href="#contact">Contact</a></li>-->
                        </ul>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col third">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-pinterest-p fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <p class="p-small">We would love to hear from you <a href="mailto:contact@site.com"><strong>contact@BACH.com</strong></a></p>
                    </div> <!-- end of footer-col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © <a href="#your-link">BACH.PVT.LTD</a></p>
                </div>

                <div class="col-lg-12">
                    <p class="p-small">Distributed by :<a href="#">BACH</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Back To Top Button -->
    <button onclick="topFunction()" id="myBtn">
        <img src="{% static 'images/up-arrow.png' %}" alt="alternative">
    </button>
    <!-- end of back to top button -->

    <!-- Scripts -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
    <script src="{% static 'js/purecounter.min.js' %}"></script> <!-- Purecounter counter for statistics numbers -->
    <script src="{% static 'js/scripts.js' %}"></script> <!-- Custom scripts -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  {% if messages %}
  {% for message in messages %}

  {% if message.tags == 'warning' %}
    <script>
    swal('{{message}}','','warning');
    </script>
  {% elif message.tags == 'error' %}
    <script>
    swal('{{message}}','invalid data','error');
    </script>
  {% else %}
    <script>
    swal('{{message}}','','success');
    </script>
   {%  endif %}
  {% endfor %}
  {% endif %}
<!--  {% if messages %}-->
<!--  {% for message in messages %}-->

<!--  {% if message.tags == 'error' %}-->
<!--    <script>-->
<!--    swal('{{message}}','Register FIRST','error');-->
<!--    </script>-->
<!--   {%  endif %}-->
<!--  {% endfor %}-->
<!--  {% endif %}-->
</body>
</html>