<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><h1 class="mb-0 font-weight-normal"> INSTRUMENT PANEL </h1></center>
<div class="card-body">
                    <form class="forms-sample" method="post" action="{% url 'addinstrument' %}" enctype="multipart/form-data" >
                        {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputName1">Instrument</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Instrument" name="instrument">
                      </div>
                      <div class="form-group">
                          <label for="exampleInputName1">Image</label><br>
                          <input type="file" name="image">
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark">Cancel</button>
                     </form>

</div>
</body>
</html>
{% endblock %}